body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #d35400;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #2980b9;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 5px;
    margin-top: 40px;
}

ul, ol {
    padding-left: 30px;
    margin-top: 10px;
}

a {
    color: #27ae60;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1.1rem;
    margin: 15px 0;
}

/* Home-Link */
a.home-link {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #3498db;
}